<html lang="en">
<head>
    <title>Programmers App</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>

<body onload= "welcome();">

    <div class="title">
        <h2 >The Programmers' Web App</h2>
    </div>

    <div class="header">

        <div class="image_div">
            <img src="https://people.com/thmb/02xfdPvkpJ-dnSTO62uTB936JGE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(979x265:981x267)/josh-allen-buffalo-bills-120122-53e3b5e302e74e019091fbe87af68d8a.jpg"  width="200" height="150"/>
            <img src="https://people.com/thmb/02xfdPvkpJ-dnSTO62uTB936JGE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(979x265:981x267)/josh-allen-buffalo-bills-120122-53e3b5e302e74e019091fbe87af68d8a.jpg"  width="200" height="150"/>
        </div>
        
        <h1 class="Welcome-Message">Welcome</h1>
        
        <h1 class="Welcome-Message">Welcome</h1>
            {% if username %}
            <p>Logged in as: {{ username }}</p>
            {% endif %}
        <h2>Error Message</h2>


        <div id="error-message"></div>
        <div class="Chat-forums">
            <div>
                <form action="/Bills" method="GET">
                    <button type="submit">Bills </button>
                </form>
            </div>
            <div >
                <form action="/Sabres" method="GET">
                    <button type="submit">Sabres </button>
                </form>
            </div>
            <div >
                <form action="/General" method="GET">
                    <button type="submit">General </button>
                </form>
            </div>
        </div>
        <div class="User-Creation-forms">

            <h2>Registration Form</h2>
            <form action="http://localhost:8080/register" method="post">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>
                <label for="password1">Password:</label><br>
                <input type="password" id="password1" name="password1" required><br>
                <label for="password2">Confirm Password:</label><br>
                <input type="password" id="password2" name="password2" required><br>
                <input type="submit" value="Register">
            </form>
            <h2>Login Form</h2>
            <form id="loginForm" action="/login" method="POST">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br><br>

                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>

                <input type="submit" value="Login">
            </form>
            <h2>Logout Button</h2>
            <form id="logoutForm" action="/logout" method="GET">
                <input type="submit" value="Logout">
            </form>
            
    </div>

    <div class="Coment-Forms">
        <form id="comment-form">
            <input type="hidden" name="destination" value="General">
            <label for="comment">Type your comment:</label><br>
            <input type="text" id="comment" name="comment">
            <button id="send-comment">Send</button>
        </form>

        <form action="/upload-profile" id="image-form" method="post" enctype="multipart/form-data">
            <br/>
            <label for="form-file">Change profile picture: </label>
            <input id="form-file" type="file" name="upload">
            <input type="submit" value="Post">
        </form>
    </div>

    <h2 class="Blocked-Header" id="Name">Comments</h2>
    <div id="comments">


        <!-- Existing comments will be displayed here -->
        {% for comment in comments %}
        <div class="comment">
            <strong>{{ comment.author }}</strong>: {{ comment.content }}
            <span class="comment-id">ID: {{ comment.comment_id }}</span>
            <button class="like-btn" data-comment-id="{{ comment.comment_id }}">Like</button>
            <span class="likes-count">Likes: {{ comment.likes|length }}</span>
        </div>
        {% endfor %}
    </div>




    {% if success_message %}
    <div class="success-message">
        <p>{{ success_message }}</p>
    </div>
    {% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascript.js"></script>
</body>

</html>
