.User-Creation-forms {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.User-Creation-forms form {
    display: inline-block;
    margin: 5px;
}
.Welcome-Message{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;

}
.Blocked-Header {
    background-color: #f0f0f0; /* Light gray background */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding around the content */
    margin-bottom: 20px; /* Spacing between the header and other content */
}
