.User-Creation-forms {
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.User-Creation-forms form {
    display: inline-block;
    margin: 5px;
}
.Welcome-Message{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;

}
.Blocked-Header {
    background-color: #f0f0f0;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px; 
    margin-bottom: 20px; 
}

.Chat-forums {
    background-color: blue;
    border: 5px solid;
    top: 60;
    left: 250;
    right: 250;
    display: flex;
    justify-content: space-between;
}

